* {
	pointer-events: none;
	user-select: none;
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100vh;

	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

body.snow {
	background-image: url('images/frUsvpo.gif');
	background-color: rgb(255, 241, 254);
}

body.balcony {
	background-image: url('images/Vhx75Kx.gif');
	background-color: rgb(72, 71, 157);
}

body.glen {
	background-image: url('images/wOVpxwP.gif');
	background-color: rgb(51, 76, 32);
}

body.falls {
	background-image: url('images/oxFnE3S.gif');
	background-color: rgb(43, 65, 80);
}

body.airship {
	background-image: url('images/MsVMymJ.gif');
	background-color: rgb(181, 156, 121);
}

body.cherry {
	background-image: url('images/sR92qcz.gif');
	background-color: rgb(241, 243, 228);
}

body.train {
	background-image: url('images/FSS1bS7.gif');
	background-color: rgb(228, 228, 228);
}

body.shop {
	background-image: url('images/5ufjrFQ.gif');
	background-color: rgb(55, 53, 43);
}

body.train2 {
	background-image: url('images/roZX6kp.gif');
	background-color: rgb(22, 60, 58);
}

body.cloudcity {
	background-image: url('images/CVtmQSj.gif');
	background-color: rgb(156, 234, 227);
}

body.magnify {
	background-image: url('images/RNdpsBy.gif');
	background-color: rgb(0, 45, 50);
}

body.snow2 {
	background-image: url('images/VUJGMxa.gif');
	background-color: rgb(116, 126, 138);
}

body.glade {
	background-image: url('images/CiZZAso.gif');
	background-color: rgb(90, 124, 64);
}

body.watering {
	background-image: url('images/JjCl6lo.gif');
	background-color: rgb(18, 194, 229);
}

body.hydroponics {
	background-image: url('images/LFIGhmD.gif');
	background-color: rgb(0, 109, 85);
}

body.boat {
	background-image: url('images/l2rr6aS.gif');
	background-color: rgb(20, 3, 68);
}
