* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #f8f8f8;
	color: #333;

	width: 955px;
	height: 444px;
	background-repeat: no-repeat;
	background-size: 955px; /* 191 x 85 */
	background-image: url('images/house.png');
	image-rendering: auto;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}
body.intro {
	cursor: grab;
}

.hidden {
	display: none;
}


/* doggos */

#doggo, .doggo {
	width: 256px;
	image-rendering: auto;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}

#doggo {
	position: absolute;
	top: 401px;
	left: 79px;
	cursor: grab;
}

.doggo {
	transform: translate(-128px, -150px); /* default, just in case */
}
.Woofer { transform: translate(-128px, -161px); }
.Pibble { transform: translate(-128px, -157px); }
.Pupper { transform: translate(-128px, -157px); }
.Longo.Doggo { transform: translate(-128px, -149px); }
.Yapper { transform: translate(-128px, -154px); }
.Howler { transform: translate(-128px, -161px); }
.Pupperino { transform: translate(-128px, -165px); }
.Waggly.Needle { transform: translate(-128px, -169px); }
.Corgo { transform: translate(-128px, -165px); }
.Nina { transform: translate(-189px, -145px); }

#heart {
	position: absolute;
	top: 302px;
	left: 138px;
}
#heart::after {
	content: "️️️️️❤️";
}
#heart.final::after {
	content: "💖";
}
#heart.broke::after {
	content: "💔";
}


/* stats */

.stat, .group {
	margin-bottom: 5px;
}

.group {
	margin-top: 10px;
	font-weight: bold;
}


/* buckets */
.bucket {
	position: absolute;
	height: 0;
	/* border: 1px solid magenta; */
}
#Attic {
	top: 146px;
	left: 430px;
	width: 303px;
}
#Bed {
	top: 251px;
	left: 200px;
	width: 108px;
}
#Couch {
	top: 392px;
	left: 306px;
	width: 81px;
}
#Tub {
	top: 241px;
	left: 695px;
	width: 93px;
}
#Table {
	top: 401px;
	left: 665px;
	width: 133px;
}
#Upstairs {
	top: 161px;
	left: 439px;
	width: 141px;
	transform: rotate(45deg);
	transform-origin: 0 0;
}
#Downstairs {
	top: 388px;
	left: 424px;
	width: 141px;
	transform: rotate(-45deg);
	transform-origin: 0 0;
}
#Roof {
	top: 39px;
	left: 628px;
	width: 194px;
	transform: rotate(28deg);
	transform-origin: 0 0;
}
